/* About.css */

/* Section Styles */
#about {
    padding: 3rem 0;
    /* Adjusted padding */
}

/* Container Styles */
.container {
    max-width: 1140px;
    /* Adjusted max-width */
    margin: 0 auto;
    padding: 0 15px;
}

/* Image Section Styles */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-gray-100 {
    background-color: #000;
    /* Adjusted background color */
    height: 100%;
    border-radius: 0.375rem;
    /* Adjusted border-radius */
    overflow: hidden;
}

.img {
    height: 12rem;
    /* Adjusted image height */
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* Text Section Styles */
.text-container {
    padding-left: 1rem;
    /* Adjusted padding */
}

/* Title Styles */
.title-font {
    font-size: 1.5rem;
    /* Adjusted font-size */
    font-weight: 500;
    /* Adjusted font-weight */
    line-height: 1.5;
    color: #ddd9d9;
    /* Adjusted text color */
}

/* Paragraph Styles */
.leading-loose {
    line-height: 1.75;
    /* Adjusted line-height */
    color: #cbd5e0;
    /* Adjusted text color */
}

/* Additional Paragraph Styles */
.additional-paragraph {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125rem;
    /* Adjusted font-size */
    line-height: 1.75;
    /* Adjusted line-height */
    color: #a0aec0;
    /* Adjusted text color */
}

/* Media Queries */
@media (min-width: 768px) {

    /* Adjust styles for medium-sized screens */
    #about {
        padding: 4rem 0;
        /* Adjusted padding */
    }

    .text-container {
        padding-left: 2rem;
        /* Adjusted padding */
    }
}

@media (min-width: 1024px) {

    /* Adjust styles for large-sized screens */
    #about {
        padding: 5rem 0;
        /* Adjusted padding */
    }

    .text-container {
        padding-left: 3rem;
        /* Adjusted padding */
    }
}