/* Contact.css */

/* Section Styles */
#contact {
    background-color: #000;
    /* Adjusted background color */
    color: #fff;
    /* Adjusted text color */
    padding: 6rem 2rem;
    /* Adjusted padding */
}

/* Title Styles */
#contact h2 {
    font-size: 3rem;
    /* Increased font size for the title */
    font-weight: 800;
    /* Adjusted font weight */
    text-align: center;
    /* Centered text */
    margin-bottom: 4rem;
    /* Increased margin bottom */
}

/* Paragraph Styles */
#contact p {
    max-width: 42rem;
    /* Adjusted maximum width */
    margin: 0 auto 4rem auto;
    /* Centered and adjusted margin bottom */
    font-size: 1.25rem;
    /* Adjusted font size */
    line-height: 1.5;
    /* Adjusted line height */
}

/* Grid Styles */
#contact .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    /* Adjusted gap between grid items */
}

@media (min-width: 768px) {

    /* Styles for larger screens */
    #contact .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Adjusted grid columns for larger screens */
    }
}

/* Grid Item Styles */
#contact .grid>div {
    padding: 1.5rem;
    /* Reduced padding */
    /* Adjusted padding */
    background-color: #1c0653;
    /* Adjusted background color */
    border-radius: 0.5rem;
    /* Adjusted border radius */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Added box shadow */
}

/* Title Styles for Grid Items */
#contact .grid h3 {
    font-size: 1.5rem;
    /* Adjusted font size */
    font-weight: 600;
    /* Adjusted font weight */
    margin-bottom: 0.5rem;
    /* Adjusted margin bottom */
}

/* Text Styles for Grid Items */
#contact .grid p {
    font-size: 1rem;
    /* Adjusted font size */
    line-height: 1.5;
    /* Adjusted line height */
    color: #cfc8c8;
    /* Adjusted text color */
}