/* Header Styles */

header {
    background-color: #000;
    /* Dark background color */
    color: #eee8e8;
    /* White text color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Box shadow */
}

.container {
    max-width: 1140px;
    /* Adjusted max-width */
    margin: 0 auto;
    padding-left: 1rem;
    /* Adjusted left padding */
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-2xl {
    font-size: 1.5rem;
    /* Adjusted font size */
}

.font-bold {
    font-weight: 700;
}

.w-8 {
    width: 2rem;
}

.h-8 {
    height: 2rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.hover\:text-gray-200:hover {
    color: #ccc;
    /* Hover text color */
}

/* Media Queries */

@media (min-width: 768px) {
    .container {
        padding: 0 15px;
        /* Adjusted padding */
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 30px;
        /* Adjusted padding */
    }
}

@media (min-width: 1280px) {
    .container {
        padding: 0 45px;
        /* Adjusted padding */
    }
}

@media (min-width: 1536px) {
    .container {
        padding: 0 60px;
        /* Adjusted padding */
    }
}