/* Home.css */

/* Styles for the homepage section */
#home {
    position: relative;
    background-color: #000;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 4rem;
    /* Added space on top of the image */
}

/* Gradient Styles */
.bg-gradient-to-r {
    background-image: linear-gradient(to right, #06060a, );
    /* Adjusted gradient colors */
}

/* Container Styles */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Text Styles */
.text-center {
    text-align: center;
}

.md\:text-left {
    text-align: left;
}

/* Heading Styles */
.text-4xl {
    font-size: 2rem;
}

.md\:text-5xl {
    font-size: 2.5rem;
}

.font-bold {
    font-weight: 700;
}

.mb-4 {
    margin-bottom: 1rem;
}

/* Paragraph Styles */
.text-lg {
    font-size: 1rem;
}

.md\:text-xl {
    font-size: 1.125rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

/* Image Styles */
.img {
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 767px) {

    /* Target smaller screens (max-width 767px) */
    .grid {
        display: block;
        /* Change to block display */
    }

    .grid>* {
        margin-bottom: 2rem;
        /* Add margin between elements */
    }
}

@media (min-width: 768px) {

    /* Styles for larger screens remain the same */
    .text-lg {
        font-size: 1.125rem;
    }

    .md\:text-xl {
        font-size: 1.25rem;
    }

    .mt-6 {
        margin-top: 2rem;
    }

    .mt-4 {
        margin-top: 1.5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}